* {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
  display: flex;
  flex-direction: column;
  color: rgb(18, 0, 73);
  background-color: rgb(223, 248, 255)
}

header {
  padding: 16px 16px;
  max-width: 800px;
  width: 100%;
  margin: 5px auto;
  background-color: rgb(0, 0, 131);
  border-radius: 32px;
}

header h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 16px;
  color: rgb(121, 226, 255);
  text-align: center;
  /* background-color: brown; */
  /* justify-content: center; */
}

h4 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
}

#new-form {
  display: flex;
  /* margin-top: 16px; */
  /* background-color: blue; */
}

button {
  cursor: pointer;
}

#input-task-field {
  flex: 1 1 0%;
  outline: none;
  padding: 10px 16px;
  border-radius: 16px;
  margin-right: 16px;
  font-size: 16px;
  background-color: azure;
  border-style: solid;
  border-color: darkblue;
  border-width: 1.5px;
  border-radius: 20px;
}

#submit-bttn,
#delete-all-bttn {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background-color: rgb(187, 223, 255);
  border-radius: 10px;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 13px;
  padding: 20px;
}

.indvl-task {
  display: flex;
  background-color: rgb(0, 0, 131);
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.indvl-task .task-content {
  flex: 1 1 0%;
}

.indvl-task .task-content .task-text {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  width: 100%;
  display: block;
  color: rgb(121, 226, 255);
}

.indvl-task .indvl-task-actions {
  display: flex;
}

.indvl-task .indvl-task-actions button {
  border: none;
  background-color: rgb(187, 223, 255);
  ;
  margin: 0 8px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  margin-right: 8px;
  padding: 2px 8px 2px 8px;
}